.ColorSelectionGrid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 45%;
    margin: auto;
    padding: 10px;
}

.ColorSelection {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    border: 1px solid #000;
}